nav {
        
    display: flex; /* Define como  flex o display do menu */
    justify-content: flex-start; /* Define como os itens alinhados à esquerda */
    padding: 1em; /* Da um espaçamento de 1em para a barra de menu */
    background-color: $color-background-navbar;
    color: $color-text-navbar;
    

    ul {
        list-style: none; /* Tira o estilo de lista para os itens */
        margin: 0; /* Tira toda a margem da lista. */
        padding: 0; /* Tira todo o espaçamento para dentro. */
        display: flex; /* Define como  flex o display da lista */
        width: 100%;
        
        li {
            a {
                position: relative; /* Define como uma posição relativa para cada link */
                display: inline-block; /* Define como inline-bloc o display de cada link */
                padding: 1em; /* Da um espaçamento de 1em para cada link */
                text-decoration: none; /* Tira a decoração de cada item */
                color: $color-link-navbar;
            }
            
            a:hover {
                color: $color-link-hover-navbar;
            }

            
        }
        
    }
    
    
}
.nav-sticky {
    position: sticky;
    top: 0;
}
/* Menu para telas até 800px */
@media  all and (max-width: 800px){
    nav{
        ul {
            flex-grow: 1; /* Define que o item crescerá em relação aos outros itens */
            justify-content: space-between; /* Distribui uniformemente na linha os itens */
        }
    }
}

/* Menu para telas até 600px */
@media all and (max-width: 600px){
    nav {
        ul {
            flex-direction: column; /* inverte de linha para coluna o sentido */
            align-items: center; /* Alinha os itens ao centro: */
            width:  100%; /* Ocupa 100% da tela */
        }
        .nav-right {
            margin-left: initial;
        }
    }
}


.nav-right {
    margin-left: auto;
}