.card, .card-2  { 
    background-color: lightblue;
    margin: 10px;
    box-shadow: 2px 2px 2px $color-card-border; 
}
.card-4 { 
    background-color: lightblue;
    margin: 10px;
    box-shadow: 4px 4px 4px $color-card-border; 
}