$border-description: 1px solid;

.border               { border:        $border-description $color-border-simple;  }
.border-left          { border-left:   $border-description $color-border-left;    }
.border-right         { border-right:  $border-description $color-border-right;   }
.border-top           { border-top:    $border-description $color-border-top;     }
.border-bottom        { border-bottom: $border-description $color-border-bottom;  }
.border-radius-small                   { border-radius: 2px;  }
.border-radius, .border-radius-medium  { border-radius: 4px;  }
.border-radius-large                   { border-radius: 8px;  }
.border-radius-xxlarge                 { border-radius: 16px; }
.border-radius-xxxlarge                { border-radius: 32px; }

