* {
    margin: 0;
    padding: 0;
}


@import 'estilo-base-text.scss';
@import 'estilo-base-border.scss';
@import 'estilo-base-navbar.scss';
@import 'estilo-base-header.scss';
@import 'estilo-base-section.scss';
@import 'estilo-base-article.scss';
@import 'estilo-base-aside.scss';
@import 'estilo-base-footer.scss';
@import 'estilo-base-icons.scss';