$icon-tiny:     10px;
$icon-small:    20px;
$icon-medium:   30px;
$icon-large:    40px;
$icon-xlarge:   50px;
$icon-xxlarge:  60px;
$icon-xxxlarge: 70px;
$icon-jumbo:    80px;

.icon-tiny          { width: $icon-tiny; height: $icon-tiny; }
.icon-small         { width: $icon-small; height: $icon-small; }
.icon-medium, .icon { width: $icon-medium; height: $icon-medium; }
.icon-large         { width: $icon-large; height: $icon-large; }
.icon-xlarge        { width: $icon-xlarge; height: $icon-xlarge; }
.icon-xxlarge       { width: $icon-xxlarge; height: $icon-xxlarge; }
.icon-xxxlarge      { width: $icon-xxxlarge; height: $icon-xxxlarge; }
.icon-jumbo         { width: $icon-jumbo; height: $icon-jumbo; }