$font-tiny:     10px;
$font-small:    12px;
$font-medium:   15px;
$font-large:    18px;
$font-xlarge:   24px;
$font-xxlarge:  36px;
$font-xxxlarge: 48px;
$font-jumbo:    64px;

$font-h1: $font-jumbo;
$font-h2: $font-xxxlarge;
$font-h3: $font-xxlarge;
$font-h4: $font-xlarge;
$font-h5: 20px;
$font-h6: $font-large;

body {
    font-size: $font-medium;
}



.font-tiny     { font-size: $font-tiny;     }
.font-small    { font-size: $font-small;    }
.font-medium   { font-size: $font-medium;   }
.font-large    { font-size: $font-large;    }
.font-xlarge   { font-size: $font-xlarge;   } 
.font-xxlarge  { font-size: $font-xxlarge;  }
.font-xxxlarge { font-size: $font-xxxlarge; }
.font-jumbo    { font-size: $font-jumbo;    }

h1 { font-size: $font-h1; }
h2 { font-size: $font-h2; }
h3 { font-size: $font-h3; }
h4 { font-size: $font-h4; }
h5 { font-size: $font-h5; }
h6 { font-size: $font-h6; }

h1, h2, h3, h4, h5, h6 { text-align: center; }
p { text-align: justify; text-indent: 30px;  }

.text-center  { text-align: center;  }
.text-left    { text-align: left;    }
.text-right   { text-align: right;   }
.text-justify { text-align: justify; }
.text-not-indent { text-indent: none; }