.search-nav-input {
    border: 1px solid #000000;
    border-radius: 7px;
    width: 500px;
    padding: 15px;
    opacity: 0.5;
}
.search-nav-input:focus {
    opacity: 1;
}
.button-nav-input {
    border: 1px solid #000000;
    border-radius: 7px;
    padding: 15px;
    background-color: #4b4dc5;
    color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
}
