.border-amber, .border-amber-hover:hover{ 
    border-color: $amber; }  
.border-aqua, .border-aqua-hover:hover{ 
    border-color: $aqua;
} 
.border-blue, .border-blue-hover:hover{ 
    border-color: $blue;
} 
.border-light-blue, .border-light-blue-hover:hover{ 
    border-color: $light-blue;
}
.border-brown, .border-brown-hover:hover{ 
    border-color: $brown;
} 
.border-cyan, .border-cyan-hover:hover{ 
    border-color: $cyan;
} 
.border-blue-gray, .border-blue-gray-hover:hover{ 
    border-color: $blue-gray;
}
.border-green, .border-green-hover:hover{ 
    border-color: $green;
} 
.border-light-green, .border-light-green-hover:hover{ 
    border-color: $light-green;
}
.border-indigo, .border-indigo-hover:hover{
    border-color: $indigo;
} 
.border-khaki, .border-khaki-hover:hover{ 
    border-color: $khaki;
} 
.border-lime, .border-lime-hover:hover{ 
    border-color: $lime;
} 
.border-orange, .border-orange-hover:hover{ 
    border-color: $orange;
} 
.border-deep-orange, .border-deep-orange-hover:hover{ 
    border-color: $deep-orange;
}
.border-pink, .border-pink-hover:hover{ 
    border-color: $pink;
} 
.border-purple, .border-purple-hover:hover{ 
    border-color: $purple;
} 
.border-deep-purple, .border-deep-purple-hover:hover{ 
    border-color: $deep-purple;
}
.border-red, .border-red-hover:hover{ 
    border-color: $red;
} 
.border-sand, .border-sand-hover:hover{ 
    border-color: $sand;
} 
.border-teal, .border-teal-hover:hover{ 
    border-color: $teal;
} 
.border-yellow, .border-yellow-hover:hover{ 
    border-color: $yellow;
} 
.border-white, .border-white-hover:hover{ 
    border-color: $white;
} 
.border-black, .border-black-hover:hover{ 
    border-color: $black;
} 
.border-gray, .border-gray-hover:hover{ 
    border-color: $gray;
} 
.border-light-gray, .border-light-gray-hover:hover{ 
    border-color: $light-gray;
}
.border-dark-gray, .border-dark-gray-hover:hover{ 
    border-color: $dark-gray;
}
.border-pale-red, .border-pale-red-hover:hover{ 
    border-color: $pale-red;
}
.border-pale-green, .border-pale-green-hover:hover{ 
    border-color: $pale-green;
}
.border-pale-yellow, .border-pale-yellow-hover:hover{ 
    border-color: $pale-yellow;
}
.border-pale-blue, .border-pale-blue-hover:hover{ 
    border-color: $pale-blue;
}
