$amber:  #ffc107;
$aqua: #00ffff;
$blue: #2196F3;
$light-blue: #87CEEB;
$brown: #795548;
$cyan: #00bcd4;
$blue-gray: #607d8b;
$green: #4CAF50;
$light-green: #8bc34a;
$indigo: #3f51b5;
$khaki: #f0e68c;
$lime: #cddc39;
$orange: #ff9800;
$deep-orange: #ff5722;
$pink: #e91e63;
$purple: #9c27b0;
$deep-purple: #673ab7;
$red: #f44336;
$sand: #fdf5e6;
$teal: #009688;
$yellow: #ffeb3b;
$white: #fff;
$black: #000;
$gray: #9e9e9e;
$light-gray: #f1f1f1;
$dark-gray: #616161;
$pale-red: #ffdddd;
$pale-green: #ddffdd;
$pale-yellow: #ffffcc;
$pale-blue: #ddffff;
$border-gray: #ccc;
$navbar-black: #343A40;
$footer-gray: #F5F5F5;
$header-gray: #ECEEEF;
$header-black: #292B2C;


