.text-amber, .text-amber-hover:hover{ 
    color: $amber;
}  
.text-aqua, .text-aqua-hover:hover{ 
    color: $aqua;
} 
.text-blue, .text-blue-hover:hover{ 
    color: $blue;
} 
.text-light-blue, .text-light-blue-hover:hover{ 
    color: $light-blue;
}
.text-brown, .text-brown-hover:hover{ 
    color: $brown;
} 
.text-cyan, .text-cyan-hover:hover{ 
    color: $cyan;
} 
.text-blue-gray, .text-blue-gray-hover:hover{ 
    color: $blue-gray;}
.text-green, .text-green-hover:hover{ 
    color: $green;
} 
.text-light-green, .text-light-green-hover:hover{ 
    color: $light-green;
}
.text-indigo, .text-indigo-hover:hover{ 
    color: $indigo;
} 
.text-khaki, .text-khaki-hover:hover{ 
    color: $khaki;
} 
.text-lime, .text-lime-hover:hover{ 
    color: $lime;
} 
.text-orange, .text-orange-hover:hover{ 
    color: $orange;
} 
.text-deep-orange, .text-deep-orange-hover:hover{ 
    color: $deep-orange;
}
.text-pink, .text-pink-hover:hover{ 
    color: $pink;
} 
.text-purple, .text-purple-hover:hover{ 
    color: $purple;
} 
.text-deep-purple, .text-deep-purple-hover:hover{ 
    color: $deep-purple;
}
.text-red, .text-red-hover:hover{ 
    color: $red;
} 
.text-sand, .text-sand-hover:hover{ 
    color: $sand;
} 
.text-teal, .text-teal-hover:hover{ 
    color: $teal;
} 
.text-yellow, .text-yellow-hover:hover{ 
    color: $yellow;
} 
.text-white, .text-white-hover:hover{ 
    color: $white;
} 
.text-black, .text-black-hover:hover{ 
    color: $black;
} 
.text-gray, .text-gray-hover:hover{ 
    color: $gray;
} 
.text-light-gray, .text-light-gray-hover:hover{ 
    color: $light-gray;
}
.text-dark-gray, .text-dark-gray-hover:hover{ 
    color: $dark-gray;
}
.text-pale-red, .text-pale-red-hover:hover{ 
    color: $pale-red;
}
.text-pale-green, .text-pale-green-hover:hover{ 
    color: $pale-green;
}
.text-pale-yellow, .text-pale-yellow-hover:hover{ 
    color: $pale-yellow;
}
.text-pale-blue, .text-pale-blue-hover:hover{ 
    color: $pale-blue;
}